# Importing Libraries

In [1]:
# Importing Pandas an Numpy Libraries

import pandas as pd

import numpy as np

# Importing CSV files

In [2]:
# Using google drive to access the link

#from google.colab import drive
#drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#!curl -L 'http://bit.ly/TelecomDataset1' > ipdata.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   176  100   176    0     0   4190      0 --:--:-- --:--:-- --:--:--  4190
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 1399M  100 1399M    0     0   936k      0  0:25:29  0:25:29 --:--:-- 1263k

In [5]:
#%cp -r ipdata.csv /content/drive/MyDrive/ipdata.csv

In [6]:
# Uploading and reading dataset # 1

dt06july = pd.read_csv('/content/drive/MyDrive/ipdata.csv')
dt06july.head()

(15011816, 10)

In [56]:
# Uploading and reading dataset # 2


cells_geo = pd.read_csv("cells_geo.csv", header =0, index_col=0, delimiter = ';')
cells_geo.head()

    VILLES      STATUS LOCALISATION  ... AREA     CELL_ID   SITE_CODE
0   ADJAME  In Service      ABIDJAN  ...  NaN  fbb2e75af3  0bb492ef17
1   ADJAME  In Service      ABIDJAN  ...  NaN  1502501d78  0bb492ef17
2   ADJAME  In Service      ABIDJAN  ...  NaN  0c2e182a0c  0bb492ef17
3  ASSINIE  In Service    INTERIEUR  ...  NaN  69bdfc69fd  8a1e6ce31f
4  ASSINIE  In Service    INTERIEUR  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 11 columns]

## Previewing the Dataset

In [7]:
dt06july

         PRODUTC  VALUE  ...     CELL_ID     SITE_ID
0          Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1            sms      0  ...  /+cKZKIp41  /+cKZKIp41
2            sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3          Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4          Voice     14  ...  051KhYDCpv  051KhYDCpv
...          ...    ...  ...         ...         ...
15011811   Voice     40  ...  y8Zy+A5U3K  y8Zy+A5U3K
15011812     sms      0  ...  yGAZ0YDzFi  yGAZ0YDzFi
15011813     sms      0  ...  ywp1Gp+dk/  ywp1Gp+dk/
15011814     sms      0  ...  zsA2dnzCR5  zsA2dnzCR5
15011815     sms      0  ...  zn4qbCp2XH  zn4qbCp2XH

[15011816 rows x 10 columns]

In [57]:
cells_geo

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 11 columns]

# Data Cleaning

## Uniformity

In [8]:
# Standardizing columns names for dataset 1

dt06july.columns = dt06july.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
dt06july.columns

Index(['produtc', 'value', 'datetime', 'cell_on_site', 'dw_a_number_int',
       'dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id'],
      dtype='object')

In [13]:
# Removing the typos from the column names

dt06july = dt06july.rename(columns={'produtc': 'product','datetime': 'date_time' })
dt06july.columns

Index(['product', 'value', 'date_time', 'cell_on_site', 'dw_a_number_int',
       'dw_b_number_int', 'country_a', 'country_b', 'cell_id', 'site_id'],
      dtype='object')

In [10]:
# Standardizing columns names for dataset 2

cells_geo.columns = cells_geo.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
cells_geo.columns

Index(['villes', 'status', 'localisation', 'decoupzone', 'zonename',
       'longitude', 'latitude', 'region', 'area', 'cell_id', 'site_code'],
      dtype='object')

## Data Validity

In [14]:
# Dropping irrelevant data

dt06july.drop(["cell_on_site","dw_a_number_int", 	"dw_b_number_int" ,	"country_a","country_b", 'site_id'], axis = 1, inplace = True) 
dt06july.columns

Index(['product', 'value', 'date_time', 'cell_id'], dtype='object')

In [16]:
# Checking data set shape

dt06july.shape

(15011816, 4)

In [17]:
dt06july.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15011816 entries, 0 to 15011815
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   product    object
 1   value      int64
 2   date_time  object
 3   cell_id    object
dtypes: int64(1), object(3)
memory usage: 458.1+ MB

In [21]:
# Changing the data type of the date_time column

dt06july['date_time'] = pd.to_datetime(dt06july['date_time'])
dt06july.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15011816 entries, 0 to 15011815
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   product    object
 1   value      int64
 2   date_time  datetime64[ns]
 3   cell_id    object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 458.1+ MB

In [28]:
# Spliting the date and time into two columns

dt06july['date'] = [d.date() for d in dt06july.date_time]
dt06july['time'] = [d.time() for d in dt06july.date_time]

dt06july['date'] =pd.to_datetime(dt06july['date'])
dt06july['time'] =pd.to_datetime(dt06july['time'], format= '%H:%M:%S:f', errors = 'ignore')

In [30]:
# Verifying that change took place

dt06july

         product  value           date_time     cell_id       date      time
0          Voice      0 2012-05-06 23:04:37  /TJNe+Mmtu 2012-05-06  23:04:37
1            sms      0 2012-05-06 23:05:25  /+cKZKIp41 2012-05-06  23:05:25
2            sms     25 2012-05-06 23:05:41  /u0FSD+ahi 2012-05-06  23:05:41
3          Voice     56 2012-05-06 23:05:42  +cNeJzsTp3 2012-05-06  23:05:42
4          Voice     14 2012-05-06 23:06:29  051KhYDCpv 2012-05-06  23:06:29
...          ...    ...                 ...         ...        ...       ...
15011811   Voice     40 2012-05-08 00:56:07  y8Zy+A5U3K 2012-05-08  00:56:07
15011812     sms      0 2012-05-08 00:56:17  yGAZ0YDzFi 2012-05-08  00:56:17
15011813     sms      0 2012-05-08 00:57:49  ywp1Gp+dk/ 2012-05-08  00:57:49
15011814     sms      0 2012-05-08 00:57:51  zsA2dnzCR5 2012-05-08  00:57:51
15011815     sms      0 2012-05-08 00:59:05  zn4qbCp2XH 2012-05-08  00:59:05

[15011816 rows x 6 columns]

In [29]:
# Verifying the changed data types
dt06july.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15011816 entries, 0 to 15011815
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   product    object
 1   value      int64
 2   date_time  datetime64[ns]
 3   cell_id    object
 4   date       datetime64[ns]
 5   time       object
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 687.2+ MB

In [50]:
dt06july['product'].unique()

array(['Voice', 'sms', 'data'], dtype=object)

In [51]:
dt06july['value'].unique()

array([   0,   25,   56, ..., 2034, 4390, 2748])

In [15]:
cells_geo.drop(['localisation', 'decoupzone', 'zonename','longitude', 'latitude', 'site_code'], axis = 1, inplace = True) 
cells_geo.columns

Index(['villes', 'status', 'region', 'area', 'cell_id'], dtype='object')

In [19]:
cells_geo.shape

(3974, 5)

In [20]:
cells_geo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3974 entries, 0 to 3973
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   villes   3974 non-null   object
 1   status   3907 non-null   object
 2   region   3974 non-null   object
 3   area     3951 non-null   object
 4   cell_id  3974 non-null   object
dtypes: object(5)
memory usage: 186.3+ KB

## Finding and counting missing data

In [23]:
dt06july.count()

product      15011816
value        15011816
date_time    15011816
cell_id      15011816
date         15011816
time         15011816
dtype: int64

In [24]:
# Counting all null data in dataset 1

np.count_nonzero(dt06july.isnull())

0

In [25]:
# Counting data in the columns in dataset 2

cells_geo.count()

villes     3974
status     3907
region     3974
area       3951
cell_id    3974
dtype: int64

In [26]:
# Counting all null data in dataset 2

np.count_nonzero(cells_geo.isnull())

90

In [27]:
cells_geo = cells_geo.fillna("NA")

# Checking for null values

np.count_nonzero(cells_geo.isnull())

0

## Merging Data

In [52]:
dt06july.shape

(15011816, 6)

In [53]:
cells_geo.shape

(3974, 5)

In [31]:
merged_df = dt06july.merge(cells_geo, how='inner', on='cell_id')

merged_df

    product  value           date_time  ...      status  region           area
0     Voice      0 2012-05-07 08:33:43  ...  In Service  LAGUNE  ABIDJAN NORTH
1     Voice      0 2012-05-07 08:36:17  ...  In Service  LAGUNE  ABIDJAN SOUTH
2     Voice      0 2012-05-07 08:37:47  ...  In Service  LAGUNE  ABIDJAN SOUTH
3     Voice      0 2012-05-07 09:56:52  ...  In Service  LAGUNE  ABIDJAN SOUTH
4     Voice      0 2012-05-07 20:17:41  ...  In Service  LAGUNE  ABIDJAN SOUTH
..      ...    ...                 ...  ...         ...     ...            ...
171   Voice      0 2012-05-07 17:18:41  ...  In Service    LACS   CENTRE NORTH
172   Voice      0 2012-05-07 18:22:06  ...  In Service    LACS   CENTRE NORTH
173   Voice      0 2012-05-07 18:54:34  ...  In Service  LAGUNE  ABIDJAN NORTH
174   Voice      0 2012-05-07 19:05:58  ...  In Service  LAGUNE  ABIDJAN SOUTH
175   Voice      0 2012-05-07 19:07:33  ...  In Service    LACS   CENTRE NORTH

[176 rows x 10 columns]

In [54]:
merged_df.shape

(176, 10)

# Analysis

## Question 1 : Most used city for the three days?

In [48]:
merged_df['value'].groupby(merged_df['villes']).count().sort_values(ascending=False)

villes
COCODY          65
TIASSALE        18
TREICHVILLE     14
PORT-BOUET      14
YAMOUSSOUKRO    11
MARCORY         10
ABOBO            9
KOUMASSI         6
ADJAME           6
YOPOUGON         5
PLATEAU          5
ATTECOUBE        4
SOUBRE           3
BINGERVILLE      3
SONGON           2
TOUMODI          1
Name: value, dtype: int64

## Question 2 : Least used city for the three days?

In [46]:
merged_df['value'].groupby(merged_df['villes']).count().sort_values(ascending=True)

villes
TOUMODI          1
SONGON           2
BINGERVILLE      3
SOUBRE           3
ATTECOUBE        4
PLATEAU          5
YOPOUGON         5
ADJAME           6
KOUMASSI         6
ABOBO            9
MARCORY         10
YAMOUSSOUKRO    11
PORT-BOUET      14
TREICHVILLE     14
TIASSALE        18
COCODY          65
Name: value, dtype: int64

## Question 2 : Which ones were the most used city for the three days?

In [36]:
merged_df['value'].groupby([merged_df['villes'], merged_df['product']]).count().sort_values(ascending=False)

villes        product
COCODY        Voice      65
TIASSALE      Voice      18
TREICHVILLE   Voice      14
PORT-BOUET    Voice      14
YAMOUSSOUKRO  Voice      11
MARCORY       Voice      10
ABOBO         Voice       9
KOUMASSI      Voice       6
ADJAME        Voice       6
YOPOUGON      Voice       5
PLATEAU       Voice       5
ATTECOUBE     Voice       4
SOUBRE        Voice       3
BINGERVILLE   Voice       3
SONGON        Voice       2
TOUMODI       Voice       1
Name: value, dtype: int64

## Question 3 : Which product was used the most during these three days?

In [42]:
merged_df['product'].describe()

count       176
unique        1
top       Voice
freq        176
Name: product, dtype: object

In [43]:
merged_df['product'].unique()

array(['Voice'], dtype=object)

In [49]:
merged_df['value'].unique()

array([0])

In [39]:
merged_df['value'].describe()

count    176.0
mean       0.0
std        0.0
min        0.0
25%        0.0
50%        0.0
75%        0.0
max        0.0
Name: value, dtype: float64

In [40]:
merged_df['value'].groupby(merged_df['product']).count().sort_values(ascending=False)

product
Voice    176
Name: value, dtype: int64

## Question 4 : Which product accounted for the highest revenue during the three days?

In [44]:
merged_df['value'].groupby(merged_df['product']).max()

product
Voice    0
Name: value, dtype: int64

In [45]:
merged_df['value'].groupby(merged_df['product']).mean()

product
Voice    0
Name: value, dtype: int64